@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Oswald&family=Signika+Negative:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
    
}
body{
    background-image:url('images/S.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

li , a, button {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration:wavy;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px ;
    height: 100px;
}

.logo{
    cursor: pointer;
    size: 50px;
    display: block;
    
    width:150px;
    image-resolution: 1900px;
    padding-left: 2%;
    

    

    
    
    
 

}
.logo:hover{
    color: #fff;
}
nav{
    border: none;
    padding-top:60px;
    padding-bottom:40px ;
    border-radius: 15px ;
    padding-left:20px;
    padding-right:20px ;
    background-image:url('images/téléchargé.jpg') ;
    background-size: cover;
    position: fixed;
}
.nav__links{
    list-style: none;
    

}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    ;

}
.nav__links li a {
    transition: all 2s ease 0s;
    font-size: 150%;
    color:rgb(132, 20, 20) ;

    font-size: 35px;
    font-family: Anton;

}
.nav__links li a:hover{
    color: rgb(255, 255, 255);
}

button {
    padding:9px 25px;
    background-color: rgb(5, 4, 3);
    color: #641311;
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s;
    font-size: 130%;
    font-family: Anton;
    font-size: 30px;
}
.section {
    display: flex;
    justify-content: space-between;
   
    
    background-repeat: no-repeat;
    
}

.section h2 {
    color: rgb(9, 9, 7);
    margin: 4%;
    border: none ;
    padding-left: 40%;
    font-size:250%;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Anton, sans-serif;
    



}
.section img{
    height: 300px ; 
    opacity: 0.5;
    margin-top: 8%;
   
    
     
  
    


}
.section img:hover{
    opacity: 1;
}
.section p{
    color: aliceblue; 
    margin: 2px;
    padding: 10px;
    font-size: 160%;
    padding-right: 10%;
    padding-right: 10%;
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav__links{
    background-color: visd;
}
.section h2:hover{
    color: aliceblue;
}
 .section .service {
    font-size: 250%;
    margin: 4%;
    padding-left: 40%;
    
    
    
    
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
}
form h3{
    color: #000000;
    font-weight: 800;
    margin-bottom: 20px;
    background: #ffffff;
    font-size: 30px;
}
form input , form textarea {
    border:0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: #d4d6dd;

}
footer {
    background-image:url('images/téléchargé.jpg');
    color: #941818;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    
}
button:hover {
    color: azure;
}
section .icons{
    position: absolute;
    top: 50%;
    padding-left: 95%;
    transform: translateY(-50%);
    color: #d4d6dd;
    position: fixed;
    
    
   
}
section .icons img {
    display: block;
    margin: 40px;
    font-size: 40px;
    color: #e41b1b;
    transition: all .50s ease;
    size: 90px;
    border:none;
    background-color: #e4c8c7;
    border-width: 5px;
    border-radius: 5px;
    
    
}
section .icons :hover{
    background-color: #771a15;
}
